/* CSS Document */

body {
	/* background-image: url("media/paper.jpg"); */ 
	background-color: #FFD1DD; 
	/* background-image: repeating-linear-gradient(red, yellow 10%, green 20%); */
}

* {
    box-sizing: border-box;
}

.portfolio {
	padding: 10px; 
}

.bio {
	 
	margin: 20px; 
}

.card {
	padding: 20px;
	background-color: #DCDCDC; 
}

.navbar-brand {
	font-family: annie-use-your-telescope;
	font-style: normal;
	font-size: 2em;
	font-weight: 400;	/*font-weight: 400;*/
}

/* Center website */
.main {
    max-width: 1000px;
    margin: auto;
}

h1 {
    font-size: 50px;
    word-break: break-all;
}

h4 {
	text-align: center;
	font-family: boogaloo;
	font-style: normal;
	font-weight: 400;
}

.portfolio p {
	padding: 10px;  
	font-family: voltaire;
	font-style: normal;
	font-weight: 400;
}

.bio p {
	font-family: voltaire;
	font-style: normal;
	font-weight: 400;
}


.row {
    margin: 8px -16px;
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
    padding: 8px;
}

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 25%;
    display: none; /* Hide columns by default */
}

/* Clear floats after rows */ 
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Content */
.content {
	transition: all .2s ease-in;
    background-color: white;
    padding: 10px;
	height: 100%; 
	/* animation: 0.5s ease-out 0s 1 fadeIn; */ 
}

@keyframes fadeIn {
  0% { 
	opacity: 0; 
    /* transform: translateY(+10%); */
  }
  100% {
	opacity: 1;  
    /* transform: translateY(0); */ 
  }
}

.content:hover {
	background-color: #FFE5E5; 
}


/* The "show" class is added to the filtered elements */
.show {
    display: block;
}

/* Style the buttons */
#myBtnContainer .btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: white;
  cursor: pointer;
}

/* Add a grey background color on mouse-over */
#myBtnContainer .btn:hover {
  background-color: #ddd;
}

/* Add a dark background color to the active button */
#myBtnContainer .btn.active {
  background-color: #666;
   color: white;
}

iframe {
	display: block; 
	margin: auto; 
}

/* 
.modal-dialog {
  width: 100%;
  height: 100%;
  margin: 20px;
  padding: 0;
}

.modal-content {
  height: auto;
  min-height: 100%;
  border-radius: 0;
}  

*/ 
